body { 
    height: 100vh;
    background-image: linear-gradient(to bottom left, rgb(89, 0, 255), rgb(255, 208, 0));
}

.header {
    font-family: monospace;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    align-items: center;
    justify-content: center;
    margin: 100px 300px 0 300px;
    padding: 0;
    width: 50vw;
    height: 50vh;
    background-color: white;
    min-width: 450px;
}


#tasks {
    position: center;
    padding: 0;
    margin: 0;
}

.add_button { 
    background-color: #f7f8fa;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 300px 0 300px;
}

.text {
    margin: 0 300px 0 300px;
    width: 50%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f2f2f2;
}

#span {
    margin: 0 300px 0 300px;
    width: 50%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f2f2f2;
}